@using DemoSignalRChat.ViewModels
@using DemoSignalRChat.Preview
@using System.Text.RegularExpressions
@model IEnumerable<StatusViewModel>

    <div id="status-list" class="row">

    @foreach(StatusViewModel status in Model)
    { 

        <div class="status">

            <div class="status-header">

                <div class="status-user">
                    <a href='#'>
                        <img src="@status.UserOwner.Avatar" class="img-circle img60x60" />
                    </a>
                </div><!-- .status-user -->

                <div class="status-content">
                    <a class="peple-name" href='#'>@status.UserOwner.UserName</a>@Html.Raw(status.Message)
                    @if (status.LinkPreview != null)
                    {
                                    <a class='link-preview' href='@status.LinkPreview.url' target='_blank'>
		                                    <div class='preview'>
				                                    <div class='preview-image'>
						                                    <img src='@status.LinkPreview.src' class='img90x90' />
				                                    </div>
				                                    <div class='preview-description'>
						                                    <b>@status.LinkPreview.title</b>
                                                            <p>
                                                                @Regex.Match(status.LinkPreview.url, @"://(.+?)/").Groups[1].Value <br />
						                                        @status.LinkPreview.description
                                                            </p>
				                                    </div>
		                                    </div>
                                    </a>
                    }
                    <div class="box-like-share">
                        <a class="like" data-statusid="@status.StatusId">Like</a> &nbsp;<span class="glyphicon glyphicon-thumbs-up"></span> <span id="numLike-@status.StatusId">@status.ListUserLiked.Count()</span>
                        <a class="share" data-statusid="@status.StatusId">Share</a> &nbsp;<span class="glyphicon glyphicon-share-alt"></span> <span id="numShare-@status.StatusId">@status.NumShared</span>
                    </div>
                

                </div><!-- .status-content -->

                <div style="clear: left"></div>

            </div><!-- .status-header -->

                <hr />

            <div class="list-comment" id="list-comment-@status.StatusId">
            @foreach(CommentViewModel comment in status.ListCommented)
            {
                    <div class="row comment">
                        <div class="col-md-1">
                            <a href="#">
                                <img src="@comment.UserOwner.Avatar" class="img-rounded img33x33">
                            </a>
                        </div><!-- .comment-user -->
                        <div class="col-md-10">
                            <p class="comment-content">
                                <a href="#">@comment.UserOwner.UserName</a>
                                @comment.Content
                            </p>
                        </div><!-- .user-info -->
                    </div><!-- comment -->
            }
                <div class="row block-textarea" id="block-txtComment-@status.StatusId">
                    <div class="col-md-1">
                        <a href="#">
                            <img src="" class="img-rounded img33x33 cur-user-avatar">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <textarea data-statusid="@status.StatusId" name="txtComment" rows="1" cols="50" class="form-control txtComment" placeholder="Enter comment..."></textarea>
                    </div>
                </div>


            </div><!-- .list-comment -->



        </div><!-- .status -->
    }
    </div><!-- #status-list -->
